{# @var id              \string     #}
{# @var icon            \string     #}
{# @var message         \string     #}
{# @var value           \string     #}
{# @var column          \string     #}
{# @var placeHolder     \string     #}
{# @var numOnly         \bool       #}
<section data-id="{{id}}">
    <div class="form-group input-group{% if message is not empty %} has-error{% endif %}">
        <span class="input-group-addon"><i class="{{ icon }}"></i> </span>
        <label class="control-label" for="{{ column }}">{% if message is not empty %}{{ message }}{% endif %}
        </label>
        <input
                type="{% if numOnly %}number{% else %}password{% endif %}"
                class="form-control"
                name="{{ column }}"
                placeholder="{{ placeHolder }}"
                value="{{ value }}"
                pattern="[0-9]*"
                inputmode="numeric"
                {% if numOnly %}style="-webkit-text-security: disc;"{% endif %}>
    </div>
</section>
