{# @var email \string #}
{# @var rand \string #}
{# @var message \string #}
{# @var cookie_on \string #}
{# @var fields \array #}
{# @var html_elements \array #}

<section data-id="{{id}}" id="loginwrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Access member area</h3>
                    </div>
<div class="panel-body">
    <form role="form" id="loginform" method="POST" action="">
        <fieldset>
            <div class="form-group">
                <div class="radio">
                    <label>
                        <input class="loginRadio" type="radio" name="accessTypeRadio" value="login" {% if not registration %}checked="true"{% endif %}>
                        I already have an account <br>
                        {{ message | raw }}
                    </label>
                </div>
            </div>
            <div id="loginSection">
                {% for key,element in html_elements %}
                    {% if key == 3 or key == 4 or key == 0 or key == 5 %}
                        key : {{ key }} <br>
                        {{ element | raw}}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="form-group">
                <div class="radio">
                    <label>
                        <input class="registerRadio" type="radio" name="accessTypeRadio" value="register"  {% if registration %}checked="true"{% endif %}>
                        I want to create one
                    </label>
                </div>
            </div>
            <div id="registrationSection" {% if not registration %}style="display: none;"{% endif %}>
                {% for key,element in html_elements %}
                    {% if key != 3 and key != 4 and key != 0 and key != 5 and key != 8 %}
                        key : {{ key }} <br>
                        {{ element | raw}}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">  <i class="fa fa-arrow-right"></i></span>
                <input type="submit" value="Submit" class="btn btn-lg btn-success btn-block" />
            </div>
            <!-- Change this to a button or input when using this as a form -->
        </fieldset>
    </form>
</div>
                </div>
            </div>
        </div>
    </div>
</section>